<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Manni.co</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <!--<div id="header_div">{% block header_div %}{% endblock %}</div>-->
  <div class="header_div" >
    <table class="index_header_table">
    <tr>
      <th> <a href="/landing"> HOME </a> </th>
      <!--<th> <a href="blog_placeholder"> BLOG </a> </th>-->
      <th> <a href="/blog"> BLOG </a></th>
      <th> <a href="mannicode"> MANNICODE </a></th>
      <th> <a href="contact"> CONTACT </a></th>
    </tr>
    </table>
  </div>
  <div id="content_div">{% block content_div %}{% endblock %}</div>
</body>
</html>
