{% extends "base_generic.html" %}

{% load static %}
{% block content_div %}
<div class="singlespace"></div>
<div class="contact_grid">

    <!--<table class="contact contact_grid">-->
       <table class="pamphlet">
           <tr>
            <td>
                <!--<img src="{% static 'images/mail_contact.png' %}"
                     alt="EMAIL" />-->
                <a href="mailto:carlo@manni.co" class="contact">
                    <span class="contact contact-mail">EMAIL</span>
                </a>
            </td>
            <td>
                <!--<img src="{% static 'images/phone_contact.png' %}"
                     alt="PHONE" />-->
                <span class="contact contact-phone"><p></p></span>
            </td>
            <td>
                <!--<img src="{% static 'images/linkedin_contact.png' %}"
                     alt="LINKEDIN"/>-->
                <a href="https://www.linkedin.com/carlomannino" class="contact">
                    <span class="contact contact-linkedin">LINKEDIN</span>
                </a>
            </td>
        </tr>
    </table>

</div>
<!--<p> CONTACT COMING SOON!  STAY TUNED. </p>-->
{% endblock %}