{% extends "base_generic.html" %}

{% load static %}
{% block content_div %}
<div class="singlespace"></div>

<div class="pamphlet">
    <table class="pamphlet">
        <tr>
            <th> ABOUT </th>
            <th> SERVICES </th>
            <th> PROJECTS </th>
        </tr>
        <tr>
            <td>
                <p> Mannicode, LLC is a South Florida Tech services and consultancy company. </p>
                <p> Located in Broward County, we are available for in-person appointments
                anywhere in South Florida, and for online appointments worldwide.</p>
                <p> If English isn't your preferred language, we offer services in Spanish,
                    German, and Russian.</p>
            </td>
            <td>
                <p> Mannicode offers a variety of services for your tech needs. </p>
                <ul>
                    <li>
                        Website development
                    </li>
                    <li>
                        App development
                    </li>
                    <li>
                        Content localization and translation
                    </li>
                    <li>
                        Tech consultancy
                    </li>
                    <li>
                        A variety of products to suit common needs (always developing new ones!)
                    </li>
                </ul>
            </td>
            <td>
                Our ongoing project is Boletino, a form delivery system that translates, delivers,
                tracks, and stores forms for clients of diverse linguistic backgrounds.
            </td>
        </tr>
    </table>
</div>

{% endblock %}