body {
    font-family: Verdana;
    background-color: rgb(60,60,60);
}

h1 {
    color: green;
}

div.header_div {
    position: relative;
    background-color: rgb(50,50,50);

}

table.index_header_table {
    color: white;
    border-spacing: 15px 15px;
    margin-left: auto;
    margin-right: auto;
}

table.index_header_table a {
    color:rgb(255,255,255);
    text-decoration:none;
}

table.index_header_table th:hover{
    background-color: rgb(60,60,60);
}

#content_div {
    display:block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#content_div h1{
    display:block;
    margin: auto;
}

#content_div p{
    margin: auto;
    display:block;
}

#content_div img {
    margin-left: auto;
    display:block;
    margin-right: auto;
    border-spacing:20px;
}

div.singlespace {
    height:100px;
}

table.index_header_table th {
    padding:20px;
}

img.bubble {
    height:500px;
    width:500px;
    border-radius:50%;
}

table.pamphlet td{
    padding:20px;
    width: 400px;
    color: rgb(200,200,200);
}

table.pamphlet{
    margin-left:auto;
    margin-right:auto;
}

.contact{
    display:block;
    margin-right: auto;
    margin-left:auto;
}

table.contact tbody{
    display:block;
    margin-right: auto;
    margin-left:auto;
}

table.contact tbody tr {
display:block;
margin-right:auto;
margin-left:auto;}

.contact {
text-decoration:none;}

span.contact{
    vertical-align:middle;
    text-align:center;
    font-size:30px;
    height:50px;
    width:300px;
    color: rgb(255,255,255);
}

span.contact-mail{
    background-color: rgb(140,187,60);
    text-decoration:none;
}

span.contact-phone{
    background-color: rgb(235,171,29);
}

span.contact-phone p:after {
    content: 'PHONE'
}

span.contact-phone:hover p:after{
    content: '+12106394752'
}

span.contact-linkedin{
    background-color:rgb(73,133,137);
}

div.article {
    margin:auto;
    display:block;
    width:500px;
    background-color:rgb(200,200,200);
}
