body {
    font-family: Verdana;
    background-color: rgb(60,60,60);
}

h1 {
    color: green;
}

div.header_div {
    position: relative;
    background-color: rgb(50,50,50);

}

table.index_header_table {
    color: white;
    border-spacing: 15px 15px;
    margin-left: auto;
    margin-right: auto;
}

#content_div {
    display:block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#content_div h1{
    display:block;
    margin: auto;
}

#content_div p{
    margin: auto;
    display:block;
}

#content_div img {
    margin-left: auto;
    display:block;
    margin-right: auto;
    border-spacing:20px;
}

div.singlespace {
    height:50px;
}

table.index_header_table th {
    padding:20px;
}

img.bubble {
    height:500px;
    width:500px;
    border-radius:50%;
}
